@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  color: #666;
  font-family: sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p, input {
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
}

header {
  background-color: silver;
  color: #fff;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  text-align: center;
}

article {
  padding: 1em;
  /* max-width: 900px;
  margin: auto; */
}

article > h2 {
  text-align: center;
  color: #777;
  margin-bottom: 1em;
}

main {
  flex: 1;
  padding: 1em 0.5rem;
}

main:after {
  content: "\00a0"; /* &nbsp; */
  display: block;
  /* margin-top: var(--space); */
  height: 0px;
  visibility: hidden;
}

/* main article > button {
  align-content: center;
  justify-content: center;
} */

section {
  max-width: 900px;
  /* margin: auto; */
}

ul {
  list-style-type: none;
}

footer {
  background-color: silver;
  border-top: 1px solid #666;
  margin-top: 20px;
  padding-top: 30px;
  color: #fff;
  font-size: 1.25em;
  width: 100%;
  flex: none;
  text-align: center;
}

#startGameBtn, #timer {
  font-size: 1.5em;
}

#startContainer {
  max-width: 900px;
  min-height: 200px;
  padding: 0 4px;
  /* margin: auto; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#startContainer input {
  height: 2rem;
  margin: 0;
  border-radius: 6px;
  border: 0;
  border: 2px solid #666;
}

#timer {
  padding: calc(1rem + 1px) 2rem;
  cursor: auto;
  text-align: center;
}

#gameBoard {
  padding: 10px 0;
}

#letterButtons {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#letterButtons button:not(last-child) {
  margin: 4px 4px;
  cursor: pointer;
  width: 84px;
}

#letterBoxes ul {
  display: flex;
  flex-flow: row wrap;
}

#letterBoxes li {
  display: none;
  margin-right: 5px;
}

#letterBoxes input {
  border: 1px solid #666;
  color: #666;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  margin-top: 1em;
  padding: 20px 5px;
  text-align: center;
  width: 2em;
  /* display: none; */
}

#letterBoxes input:disabled {
  -webkit-text-fill-color: #666;
  -webkit-opacity:1;
  opacity: 1;
}

#message {
  padding-top: 20px;
  font-size: 1.5em;
  text-align: center;
}

.btn {
  -moz-user-select: text;
  background-color: #fff;
  background: transparent;
  border-radius: 6px;
  border: 0;
  border: 2px solid #666;
  color: #666;
  cursor: pointer;
  display: block;
  font: inherit;
  line-height: normal;
  margin-bottom: 16px;
  margin: 0;
  overflow: visible;
  padding: 0;
  padding: 16px 36px 22px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:disabled {
  background-color: #999;
  color: #fff;
  border-color: #666;
}

.btn--stripe:hover {
  background-color: #666;
  color: #fff;
  border-color: #000;
}

.btn--stripe:disabled:after,
.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
}

#hangman {
  width: 100%;
}

#frogWin {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: center/contain no-repeat url(../images/gamewin.png);
  background-color: rgba(100, 100, 100, 0.5);
  display: none;
}

#frogLoss {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: center/contain no-repeat url(../images/gameloss.png);
  background-color: rgba(100, 100, 100, 0.5);
  display: none;
}

@media screen and (max-width: 400px) {
  #letterBoxes {
    position: fixed;
    top: 10%;
    left: 0;
    width: 50%;
    z-index: 10;
  }

  #letterBoxes li {
    max-width: 10%;
    margin: 0;
  }

  #letterBoxes input {
    width: 100%;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0;

  }

  #hangman {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    z-index: 10;
  }

  #backgroundTop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(251, 254, 255, 0.9);
    display: none;
  }
}

@media screen and (min-width: 500px) {

  html {
    font-size: 20px;
  }

  #startContainer {
    flex-flow: row nowrap;
    min-height: 0;
  }

  #startGameBtn {
    max-width: 300px;
  }

  #startGameBtn, #timer {
    font-size: 1rem;
  }
    
}

@media screen and (min-width: 1200px) {

  main {
    flex: 1;
    padding: 1em 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .containerLeft, .containerRight {
    width: 46%;
  }

  #letterBoxes input {
    margin: 0;
    line-height: 1rem;
    padding: 15px 5px;
    width: 2rem;
  }

  #letterBoxes li:first-child {
    margin-left: auto;
  }

  .letterBoxesMarginRight {
    margin-right: auto;
  }

  #hangman {
    width: 75%;
    display: block;
    margin: auto;
  }
}